@media all and (max-width: 1920px) {
  .notice-cards {
    width: 90% !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1023.99px) {
  .notice-cards .swiper-slide {
    display: flex;
    width: 100%;
  }

  .mobile-footer {
    display: none;
  }

  #pc-footer {
    display: block;
  }

  .copy {
    background-color: #5F0C0F;
  }
}



.notice .swiper-wrapper {
  width: 100%;
  padding-left: max(3.4722222222vw, 50px);
}


@media all and (min-width: 1024px) {
  .pc-header-top {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4vw;
    position: fixed;
    z-index: 101;
  }

  .burger {
    display: none;
  }

  .mobile-footer {
    display: none;
  }

  #pc-footer {
    display: block;
  }

  .navbar .main-nav {
    display: flex;
    gap: 2em;
  }
  .main-nav li {
    padding: 5px 14px;
    position: relative;


  }

  .main-nav>li {
    padding-bottom: .4375rem;
  }

  .main-nav a {
    background-size: 0% 100%;
    font-size: min(0.875rem, 18px);
  }

  .main-nav a:hover {
    background-image: linear-gradient(180deg, transparent calc(100% - 1px), currentcolor 0);
    background-size: 100% 100%;
    transition: background-size .4s ease;
    background-repeat: no-repeat;
  }

  .lnbbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18%;
    letter-spacing: max(-0.00625rem - 0.0069444444vw, -0.0125rem);
  }
  footer .footer-title {
    margin-top: 0;
  }
  .pc-header-sns-list {
    display: flex;
    width: 11%;
    height: 100%;
    justify-content: space-around;
    align-items: end;
  }

  .pc-header-sns-list img {
    width: 16px;
    height: 16px;
  }
  .drop a {
    font-size: 0.875rem;
  }
  .notice-cards {
    width: 100%;
  }
  #newsletter p {
    padding: 0;
  }
  .pc-footer-fnb .pc-footer-util {
    width: 30%;
  }
  .pc-footer-contents {
    display: flex;
    justify-content: space-between;
    padding: 1.46vw 4vw;
  }
  .pc-check-container {
    display: flex;
    width: 50%;
  }
  footer .info-text {
    font-size: 14px;
  }
  .pc-info-container .pc-linebtns {
    width: 100%;
  }
  .copy {
    background-color: #5F0C0F;
  }
}