@media all and (min-width: 768px) {
  #mobile-footer {
    display: none;
  }

  .notice-cards {
    width: 90%;
  }

  #newsletter p {
    padding: 0;
  }

  #pc-footer {
    display: block;
  }

  .pc-footer-fnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #C6797B;
  }

  .pc-footer-fnb .pc-footer-util {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 4vw;
  }

  .pc-footer-fnb .pc-footer-util a {
    font-size: 0.7rem;
  }

  .pc-footer-fnb .sns-list {
    display: flex;
    padding: 0 4vw;
    margin: 0 2% 0 0;
    justify-content: end;
    width: 20%;
  }

  .pc-footer-fnb .sns-list a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    border-radius: 50%;
    background: transparent center no-repeat;
    margin: 0 auto;
  }

  .pc-footer-fnb .icon-youtube a {
    background-image: url("../images/icon-youtube.svg");
  }

  .pc-footer-fnb .icon-band a {
    background-image: url("../images/icon-band.svg");
  }

  .pc-footer-fnb .icon-twitter a {
    background-image: url("../images/icon-twitter.svg");
  }

  .pc-info-title {
    font-size: min(1rem, 16px);
  }

  .pc-info-container .pc-linebtns {
    width: 100%;
  }

  .pc-check-container {
    display: flex;
    justify-content: space-between;
  }

  .pc-check-container span {
    font-size: min(1.625rem, 26px);
    font-family: 'Noto Sans KR', sans-serif;
  }

  footer .info-text {
    font-size: 14px;
  }


  .copy {
    background-color: #5F0C0F;
  }
}

@media all and (min-width: 768px) and (max-width: 1023.99px) {
  .notice-cards .swiper-slide {
    display: flex;
    width: 100%;
  }

  .notice .swiper-wrapper {
    width: 100%;
    padding-left: max(3.4722222222vw, 50px);
  }

  .pc-check-container {
    width: 80%;
    margin-bottom: 1rem;
  }
  .pc-footer-fnb .pc-footer-util {
    width: 39%;
  }

}

@media all and (min-width: 1024px) {
  .pc-header-top {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4vw;
    position: fixed;
    z-index: 101;
  }

  .burger {
    display: none;
  }

  .navbar .main-nav {
    display: flex;
    gap: 2em;
  }

  .main-nav li {
    padding: 5px 14px;
    position: relative;
  }

  .main-nav>li {
    padding-bottom: .4375rem;
  }

  .main-nav a {
    background-size: 0% 100%;
    font-size: min(0.875rem, 18px);
  }

  .main-nav a:hover {
    background-image: linear-gradient(180deg, transparent calc(100% - 1px), currentcolor 0);
    background-size: 100% 100%;
    transition: background-size .4s ease;
    background-repeat: no-repeat;
  }

  .lnbbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18%;
    letter-spacing: max(-0.00625rem - 0.0069444444vw, -0.0125rem);
  }

  footer .footer-title {
    margin-top: 0;
  }

  .pc-header-sns-list {
    display: flex;
    width: 11%;
    height: 100%;
    justify-content: space-around;
    align-items: end;
  }

  .pc-header-sns-list img {
    width: 16px;
    height: 16px;
  }

  .drop a {
    font-size: 0.875rem;
  }

  .pc-footer-fnb .pc-footer-util {
    width: 30%;
  }

  .pc-footer-contents {
    display: flex;
    justify-content: space-between;
    padding: 1.46vw 4vw;
  }

  .pc-check-container {
    width: 62%;
  }



}