@import "../css/constant.css";
header {
  width: 100%;
  height: max(4.84vw, 95px);
}

main {
  width: 100%;
}

.pc-header-top {
  display: none;
}

.lnbbox a {
  font-size: min(0.875rem, 14px);
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  height: max(4.84vw, 95px);
  position: fixed;
  z-index: 100;
  padding: 0 4vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1 {
  flex-grow: 0.1;
}
.navbar h1 img {
  height: 35px;
  vertical-align: middle;
}
.navbar .main-nav {
  display: none;
}
.navbar .drop {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #430103;
}
.navbar .drop li {
  width: 8em;
}
.navbar .drop a {
  color: #fff;
  font-size: min(0.875rem, 14px);
}

.drop.show-nav {
  display: block;
}

.main-visual {
  width: 100vw;
  padding-bottom: 50px;
}
.main-visual img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.title {
  text-align: center;
  text-transform: uppercase;
}
.title h2 {
  color: #222;
  font-weight: 500;
}

.btn-top {
  background-color: #430103;
  border: 1px solid #fff;
  bottom: 1rem;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.btn-top.show-btn {
  opacity: 1;
  transform: translateY(0);
}

.btn-top,
.quick-buy {
  position: fixed;
  width: 3rem;
  height: 3rem;
  padding: max(0.8333333333vw, 12px);
  right: 4vw;
  bottom: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.btn-top img,
.quick-buy img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.quick-buy {
  background-color: #FDF3D7;
  border: 1px solid #fff;
  transition: bottom 0.4s ease-in-out;
}
.quick-buy:hover img {
  filter: invert(45%) sepia(58%) saturate(5610%) hue-rotate(337deg) brightness(100%) contrast(102%);
}

/* Notice - Swiper slide */
.notice-cards {
  width: 60%;
  margin-top: 20px;
}
.notice-cards .contents-title {
  padding: 2.125rem 0;
}
.notice-cards .date {
  font-family: "Montserrat", sans-serif;
  padding: 1.688rem 0 4.375rem 0;
  color: #787878;
}
.notice-cards .swiper-wrapper {
  width: 30%;
  height: auto;
  padding-bottom: 50px;
}
.notice-cards .swiper-pagination {
  color: #5F5F5F;
}
.notice-cards .swiper-slide {
  display: flex;
  width: 50%;
  height: auto;
  border-radius: 5px;
  text-align: center;
  padding: 2.68vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notice-cards .slide1,
.notice-cards .slide2,
.notice-cards .slide3,
.notice-cards .slide4 {
  background-color: #F7F7F7;
}

.container {
  padding-right: max(3.75vw, 12px);
  padding-left: max(3.75vw, 12px);
}

.cards .swiper-pagination {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #000;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#newsletter {
  height: auto;
  background-color: #FDF3D7;
  padding: 50px 0;
}
#newsletter .custom-title {
  text-align: center;
  margin: 20px 0;
  font-family: "Philosopher", sans-serif;
  font-size: 3.75rem;
  line-height: 0.7;
}
#newsletter .custom-text {
  font-size: 0.938rem;
}
#newsletter p {
  text-align: center;
  line-height: 1.5;
  padding: 3vw 4vw;
}
#newsletter .newsletter-form {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  flex-grow: 1;
  max-width: max(93.75vw, 300px);
}
#newsletter .newsletter-form button {
  width: -moz-fit-content;
  width: fit-content;
  height: max(2.125rem, 32px);
  display: flex;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-left: 0.75rem;
  border: 2px solid transparent;
}
#newsletter .newsletter-form button span {
  width: 1px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  overflow: hidden;
}
#newsletter .newsletter-form button::after {
  content: url("../images/arrow-r.svg");
  background-color: #430103;
  border-radius: 50%;
  width: max(2.125rem, 32px);
  height: max(2.125rem, 32px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsletter .newsletter-form button:hover {
  transform: translateX(10px);
}

.form-group {
  display: inline-block;
  width: 34%;
}
.form-group .input-email-style {
  display: block;
  width: 100%;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid;
  height: 10px;
}
.form-group input {
  flex-grow: 1;
  max-width: max(93.75vw, 300px);
  padding-left: 0;
  padding-right: 0;
  border: none;
  flex: 0 0 auto;
  height: max(13.125vw, 42px);
  padding: max(4.375vw, 14px) max(5vw, 16px) max(3.4375vw, 11px);
  border-radius: 0;
}
.form-group input:hover, .form-group input:focus {
  background-color: #f5f5f5;
}
.form-group input:focus {
  outline: none;
}
.form-group input::-moz-placeholder {
  color: #aaaaaa;
  font-size: 0.75rem;
}
.form-group input::placeholder {
  color: #aaaaaa;
  font-size: 0.75rem;
}
.form-group label {
  display: inline-block;
  position: absolute;
  color: #aaa;
  left: 10px;
  transition: all 0.2s;
}

#cast {
  height: auto;
  padding: 50px 0;
}
#cast img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cast {
  margin-top: 20px;
}
.cast .cast-name span {
  text-decoration: underline;
  display: block;
  line-height: 1.14;
  font-size: var(--contents-text-font-size);
}

.wrap-autoplay-control {
  position: absolute;
  z-index: 10;
  left: calc(50% + 50px);
  transform: translateX(-50%);
  bottom: 54px;
}

.wrap-autoplay-control button {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  padding: 10px;
}

.wrap-autoplay-control button:before {
  display: block;
  content: "";
  position: absolute;
}

.wrap-autoplay-control button[aria-pressed=false]:before {
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  box-sizing: border-box;
}

.wrap-autoplay-control button[aria-pressed=true]:before {
  top: 7px;
  left: 7px;
  border-top: 5px solid transparent;
  border-left: 12px solid #fff;
  border-bottom: 5px solid transparent;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: #FDF3D7;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 54px;
}

footer {
  background-color: #430103;
  width: 100%;
  height: auto;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .footer-logo {
  padding-top: 25px;
}
footer .footer-title {
  margin: 5px auto;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 500;
}
footer .info-text {
  color: #D3C8C8;
  font-size: var(--contents-text-font-size);
  font-family: "Noto Sans KR", sans-serif;
}
footer .cs-center {
  margin-bottom: 20px;
  font-size: var(--contents-text-font-size);
}

.info-container {
  padding: 0 4%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4470588235);
}
.info-container .cs-btn {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}
.info-container button {
  color: #fff;
  background-color: #A06363;
  width: 48%;
  border-radius: 5px;
  padding: 15px;
  font-weight: 500;
  font-size: 0.75rem;
}

.info {
  width: 100%;
  margin-bottom: 20px;
}
.info span {
  line-height: 165%;
}

.footer-menu .sns-list {
  width: 58%;
  margin: 0 2% 0 0;
  padding: 1rem 0;
  float: left;
}
.footer-menu .sns-list li {
  display: inline-block;
  padding-right: 6px;
}
.footer-menu .sns-list a {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  border-radius: 50%;
  background: #A06363 center no-repeat;
  margin: 0 auto;
}
.footer-menu .sns-list .icon-youtube a {
  background-image: url("../images/icon-youtube1.svg");
}
.footer-menu .sns-list .icon-band a {
  background-image: url("../images/icon-band1.svg");
}
.footer-menu .sns-list .icon-twitter a {
  background-image: url("../images/icon-twitter1.svg");
}

.copy {
  padding: 0.625rem 4%;
}

.footer-util {
  clear: both;
  line-height: 170%;
  margin-bottom: 1rem;
}
.footer-util li {
  display: inline-block;
}
.footer-util a {
  font-size: var(--contents-text-font-size);
}

.footer-util li:not(:last-child)::after {
  content: "|";
  margin: 0.625rem;
}

#pc-footer {
  display: none;
}

.pc-footer-fnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #C6797B;
}
.pc-footer-fnb .pc-footer-util {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 4vw;
}
.pc-footer-fnb .pc-footer-util a {
  font-size: 0.7rem;
}

.sns-list {
  display: flex;
  padding: 0 4vw;
}

.sns-list a {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  border-radius: 50%;
  background: transparent center no-repeat;
  margin: 0 auto;
}

.icon-youtube a {
  background-image: url("../images/icon-youtube.svg");
}

.icon-band a {
  background-image: url("../images/icon-band.svg");
}

.icon-twitter a {
  background-image: url("../images/icon-twitter.svg");
}

.pc-footer-contents {
  padding: 0 4vw;
}

.pc-info-container .footer-title {
  font-family: "Noto Sans KR", sans-serif;
}
.pc-info-container .info-text {
  margin: 0.37rem 0 1.688rem auto;
  font-weight: 300;
}
.pc-info-container .pc-linebtns {
  display: flex;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 1.75rem;
}
.pc-info-container .pc-linebtns button {
  border: 1px solid #C6797B;
  display: inline-block;
  width: 47%;
  padding: 0.5rem;
}

.pc-check-container {
  display: none;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.pc-check-container .pc-info-title {
  font-size: min(1rem, 16px);
}
.pc-check-container span {
  font-size: min(1.625rem, 26px);
  font-family: "Noto Sans KR", sans-serif;
}

.ad .info-text {
  margin-top: 0.625rem;
}

.copy {
  font-size: 0.625rem;
  text-align: center;
  font-weight: 300;
}